body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.headline {
  height: 50px; /* Adjust as needed */
}

.buttons {
  padding-top: 20px;
}

.grid {
  display: flex;
  justify-content: center;
  align-items: center;
}

.textarea-scrollable {
  display: flex;
  align-items: center;
}

.buttons2 {
  height: 50px; /* Adjust as needed */
}


