body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.buttons {
  padding-top: 20px;
}

#grid {
    display: grid;
    grid-gap: 0;
    row-gap: 0;
  width: 65%;
  height: 60%;
  margin: auto;
}
.text-area-container {
}
.textarea {
  height: 50%;
}


.buttons2 {
  height: 50px; /* Adjust as needed */
}

.cell{
  display: grid;
    width: 1fr;
    aspect-ratio: 1 / 1;
    border: 0.5px outset darkgrey;    
  background-color: white ;  
}

.inaccessible{
  background-color: black;
}

.cell.neighbor {
  background-color: #ffff00;
}

.start{
  background-color: #6b8e23;
}
.goal{
  background-color: #f08080;
}

.cell.neighbor.visited.final-path {
  background-color: #008000;
}
.cell.neighbor.visited{
 background-color: #ffffe0
}
