/* Reset default styles */
body, h1, p {
  margin: 0;
  padding: 0;
}

/* Set font and background color */
body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

/* Style heading */
h1 {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

/* Style paragraphs */
p {
  font-size: 16px;
  color: #666;
  line-height: 1.5;
  margin-bottom: 20px;
}
.cell{
  width: 10px;
  height: 10px;
  border: 1px solid #444;
     
  background-color: white ;  
  
  
}
#board{
  display: grid;
 
  width: 400px;
  height: 400px;
 
  grid-gap: 10px;
}
.inaccessible{
  background-color: black;
}